<div class="dashboard-container">
  <div class="side-menu">
    <div class="logo">
      <img src="assets/images/Smartlogo.png" alt="Company Logo">
    </div>
    <button class="dashboard-button">Dashboard</button>
    <div class="menu-item" *ngFor="let item of menuItems">
      <i [class]="item.icon"></i>
      <span>{{item.name}}</span>
    </div>
    <div class="divider"></div>
    <div class="menu-item" *ngFor="let item of otherItems">
      <i [class]="item.icon"></i>
      <span>{{item.name}}</span>
    </div>
  </div>
  <div class="main-content">
    <div class="header">
      <div class="header-left">
        <input type="text" placeholder="Search...">
      </div>
      <div class="header-right">
        <div class="profile-actions">
          <img src="assets/images/profile_image.png" alt="Profile Picture">
          <span class="username">John Doe</span>
          <button class="logout-button">Logout</button>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
