<div class="verify-container">
    <h3 class="verify-otp">Verify OTP code</h3>
    <p class="code-to-email">Enter code sent to email</p>
    <form class="form">
        <small>OTP</small>
        <mat-form-field class="otp-field">
          <mat-label></mat-label>
          <input
            type="text"
            matInput
            [formControl]="otpFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Enter OTP"
            required
          />
           @if (otpFormControl.hasError('required')) {
          <mat-error
            ><small>OTP <strong> required</strong></small></mat-error
          >
          } </mat-form-field
        ><br />
        
        <button [routerLink]="['/dashboard/main-content']" class="verify-submit"><strong>Verify</strong></button>
      </form>

</div>
